*{
    margin: 0%;
    padding: 0%;
    cursor: pointer;
}
.header{
    background-color: black;
    color: white;
    padding: 15px;
    ul,li,h1{
        display: inline;
        cursor: pointer;
    }
    ul{
        color:rgb(199, 195, 195);
        margin-left: 65%;
        li{
            margin-right: 10px;
        }
    }
    li:hover{
        color: white;
    }
    a{
        color:rgb(199, 195, 195);
    }
    a:hover{
        color: white;
    }
}
.search{
    margin-top: 50px;
    text-align: center;

}
input{
    padding: 15px;
    width: 500px;
}
.product{
    margin-top: 100px;
    text-align: center;
    cursor: pointer;
    color: black;
}
.box{
    border: 2px;
    border-style: solid;
    width: 200px;
    display: inline-block;
    margin-right: 50px;
    border-color: black;
}
.box:hover{
    color: white;
    background-color: black;
}
.box a{
    display: inline-block;
    border-color: black;
    text-decoration: none;
    color: black;
}
.box a:hover{
    color: white;
    background-color: black;
}
p{
    text-align: center;
    font-size: small;
    padding: 5px;
}
.aboutus{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
}
.aboutus a{
    padding: 15px;
    background-color: black;
    height: 40px;
    width: 150px;
    color: white;
    text-decoration: none;
    display: block;
    transition: all 0.3s;
   }
.a{
    color: bisque;
    text-align: center;
}
.a:hover{
    color: black;
}
.aboutus a:hover{
    color: black;
    background-color: gainsboro;
transition: scale(1.1);
}
.aboutus a:active{
    transition: scale(0.95);
}
.contact{
    text-align: center;
    background-color: black;
    color: white;
    padding: 30px;
}
.aboutp{
    text-align: center;
    margin-bottom: 20px;
}

a{
text-decoration: none;
}
